{% unless template == 'index' or template == 'cart' %}
<nav class="breadcrumb d-block bg-white mb-0 pl-0 pr-0" role="navigation" aria-label="breadcrumbs">
  <a href="{{ "/" | absolute_url }}" title="{{ 'breadcrumbs.home_link_title' | t }}">{{ 'breadcrumbs.home' | t }}</a>
  {% for breadcrumb in breadcrumbs %}
  <span class="divider" aria-hidden="true">&nbsp;&nbsp;/&nbsp;&nbsp;</span>
  {% if breadcrumb.type_name == 'Tag' %} {% assign tag = breadcrumb.aggregation_item %}
  {% include 'tag-label' %}
  <span>{{ tag_label | escape }}</span>
  {% else %}
  <a class="list-link" href="{{ breadcrumb.url | absolute_url }}" title="{{ breadcrumb.title }}" itemprop="url">
    {{ breadcrumb.title }}
  </a>
  {% endif %}
  {% endfor %}
</nav>
{% endunless %}
