{% unless product_search_result.aggregations.empty? %}
<div class="row">

  <div class="col-12 input-group mb-3 pl-lg-0 pr-lg-0 {% if collection.title %}mt-2{% endif %}">
    {% include 'search-bar' %}
  </div>

    {% for aggregation in product_search_result.aggregations %}
    <div class="col-6 col-lg-12">
      {% capture group_label_key %}collections.tags.{{ aggregation.label }}.label{% endcapture %}
      {% assign group_label = group_label_key | t %}
      {% if group_label == group_label_key %}
          {% assign group_label = aggregation.label %}
      {% endif %}
        <h5 class="font-weight-bold text-uppercase">{{ group_label | escape }}</h5>
        <ul class="list-unstyled">
            {% for custom_tag in aggregation.items %}
            {% assign tag = custom_tag %}
            {% include 'tag-label' %}
            {% if tag.is_applied  %}
            <li class="custom-control custom-checkbox" data-group="{{ aggregation.field }}" data-handle="{{ custom_tag.name | handleize }}">
              <input type="checkbox" checked class="custom-control-input" />
              <a class="custom-control-label" href="{{ custom_tag | remove_term_url }}" title="{{tag_label}}">{{tag_label}} ({{custom_tag.count }})</a>
            </li>
            {% else %}
            <li class="custom-control custom-checkbox" data-group="{{ aggregation.field }}">
              <input type="checkbox" class="custom-control-input" />
              <a class="custom-control-label" href="{{ custom_tag | add_term_url }}" title="{{tag_label}}">{{tag_label}} ({{custom_tag.count }})</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

</div>
{% endunless %}

