<div class="row">

  <div class="col-12 input-group mb-3 pl-lg-0 pr-lg-0 {% if collection.name %}mt-2{% endif %}">
    {% include 'search-bar' %}
  </div>

  {% for term_facet in product_search_result.products.term_facets %}
    <div class="col-6 col-lg-12">
      {% capture group_label_key %}collections.tags.{{ term_facet.name }}.label{% endcapture %}
      {% assign group_label = group_label_key | t %}
      {% if group_label == group_label_key %}
        {% assign group_label = term_facet.name %}
      {% endif %}

      <h5 class="font-weight-bold text-uppercase">{{ group_label | escape }}</h5>
      <ul class="list-unstyled">
        {% for term in term_facet.terms %}
          {% if term.is_selected  %}
            <li class="custom-control custom-checkbox" data-group="{{ term_facet.name }}" data-handle="{{ term.term | handleize }}">
              <input class="custom-control-input" type="checkbox"/>
              <a class="custom-control-label" href="{{ term_facet.name | remove_term_url term.term }}" title="{{ term.term }}">{{ term.term }} ({{ term.count }})</a>
            </li>
          {% else %}
            <li class="custom-control custom-checkbox" data-group="{{ aggregation.field }}">
              <input class="custom-control-input" type="checkbox"/>
              <a class="custom-control-label" href="{{ term_facet.name | add_term_url term.term }}" title="{{ term.term }}">{{ term.term }} ({{ term.count }})</a>
            </li>
          {% endif %}

        {% endfor %}
      </ul>
    </div>
  {% endfor %}

</div>
