<div class="sf-header desktop-only" :class="{ 'is-sticky': sticky, 'is-hidden': hidden }">
  <div class="sf-header__wrapper">
    <header ref="header" class="sf-header__header">
      <!-- Logo here -->
      <a href="{{ "/" | absolute_url }}" class="sf-link">
        <div class="sf-image sf-header__logo">
          <img src="https://virtocommerce.com/docs/latest/media/logo.png" alt="{{ "common.header.home" | t }}" />
        </div>
      </a>
      <div class="sf-header__aside">
        <!-- Language or currency selector here -->
      </div>
      <div class="sf-header__actions">
        <nav class="sf-header__navigation is-visible">
          <!-- Categories navigation -->
          {% include 'site-nav' %}
        </nav>
        <!-- Search bar here-->
        <div class="sf-header__icons">
          <!-- Cart button-->
          <div class="sf-button sf-button--pure sf-header__action">
            <span id="app-cart"></span>
          </div>
          <!-- Account button-->
          <div class="sf-button sf-button--pure sf-header__action">
            {% if customer.is_registered_user %}
                <a href="{{ 'account' | absolute_url }}">
                    {% if customer.operator_user_id != null %}
                        {{ "common.header.logged_in.on_behalf" | t }}
                    {% else %}
                        {{ "common.header.logged_in.as" | t }}
                    {% endif %}
                    {{ customer.user_name }}
                </a>
            {% else %}
                <a href="{{ 'account/login' | absolute_url }}">
                    {{ "common.header.sign_in" | t }}
                </a>
            {% endif %}
          </div>
          <!-- Logout button-->
          {% if customer.is_registered_user %}
            <div class="sf-button sf-button--pure sf-header__action">
              <a href="{{ 'account/logout' | absolute_url }}">{{ "common.header.log_out" | t }}</a>
            </div>
          {% endif %}
        </div>
      </div>
    </header>
  </div>
</div>
