<header id="header1">
    <div class="before-header container flex-grow-1">
        <div class="row">
            <div class="col-3">
                <a class="navbar-brand" href="{{ "/" | absolute_url }}"><img src="{{ 'shop-logo.svg' | static_asset_url }}" alt="Smartshop" class="shop-logo" />
                <a class="navbar-brand-mobile" href="{{ "/" | absolute_url }}"><img src="{{ 'shop-logo-mobile.svg' | static_asset_url }}" alt="Smartshop" class="shop-logo" /></a></a></div>
            <div class="col-4 input-group-wrapper top-search-wrapper {% if collection.title %}mt-2{% endif %}">
                {% include 'search-bar' %}
            </div>

            <div class="col-5 cart-login-wrapper"><ul class="cart-login ml-auto">
                <!-- <li><a class="top-nav-links compare-link" href="#">Compare</a></li>
                 <li><a class="top-nav-links whish-link" href="#">Whishlist</a></li> -->
                <li><a class="top-nav-links drafts-link" href="/account#/drafts">Order Drafts</a></li>
                <li class="header-cart"><span id="app-cart"></span></li>
                <li class="nav-item">
                    {% if customer.is_registered_user %}
                    <a href="{{ 'account' | absolute_url }}" class="nav-link">
                        {% if customer.operator_user_id != null %}
                        {{ "common.header.logged_in.on_behalf" | t }}
                        {% else %}
                        {{ "common.header.logged_in.as" | t }}
                        {% endif %}
                        {{ customer.user_name }}
                    </a>
                    {% else %}
                    <a href="{{ 'account/login' | absolute_url }}" class="nav-link">
                        {{ "common.header.sign_in" | t }}
                    </a>
                    {% endif %}
                </li>
                {% if customer.is_registered_user %}
                <li class="nav-item">
                    <a href="{{ 'account/logout' | absolute_url }}" class="nav-link logout">{{ "common.header.log_out" | t }}
                    </a>
                </li>
                {% endif %}
            </ul></div>
        </div>
    </div>

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <!-- <a class="navbar-brand" href="{{ "/" | absolute_url }}">{{ "common.header.home" | t }}</a> -->
        <button aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarTogglerMenu" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerMenu">
            <ul class="navbar-nav">
                {% include 'site-nav' %}
            </ul>

            <!-- <ul class="navbar-nav ml-auto">
                <li>
                    <span id="app-cart"></span>
                </li>
                <li class="nav-item">
                    {% if customer.is_registered_user %}
                    <a href="{{ 'account' | absolute_url }}" class="nav-link">
                        {% if customer.operator_user_id != null %}
                        {{ "common.header.logged_in.on_behalf" | t }}
                        {% else %}
                        {{ "common.header.logged_in.as" | t }}
                        {% endif %}
                        {{ customer.user_name }}
                    </a>
                    {% else %}
                    <a href="{{ 'account/login' | absolute_url }}" class="nav-link">
                        {{ "common.header.sign_in" | t }}
                    </a>
                    {% endif %}
                </li>
                {% if customer.is_registered_user %}
                <li class="nav-item">
                    <a href="{{ 'account/logout' | absolute_url }}" class="nav-link">{{ "common.header.log_out" | t }}
                    </a>
                </li>
                {% endif %}
            </ul> -->
        </div>
        <div class="mobile-search {% if collection.title %}mt-2{% endif %}">
            {% include 'search-bar' %}
        </div>
    </nav>
</header>
