<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">

<title>
  {%- if page_title != '' -%}
    {{ page_title }}{% unless page_title contains current_store.name %} — {{ current_store.name }}{% endunless %}
  {%- else -%}
    {{ current_store.name }}
  {%- endif -%}
</title>

{%- if page_description != '' -%}
  <meta name="description" content="{{ page_description | escape }}" />
{%- endif %}

{%- if page_keywords != '' -%}
  <meta name="keywords" content="{{ page_keywords | escape }}" />
{%- endif %}

{%- if canonical_url != '' -%}
  <link rel="canonical" href="{{ canonical_url }}" />
{%- endif -%}

<meta name="robots" content="noindex">

<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | static_asset_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png' | static_asset_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png' | static_asset_url }}">
<link rel="manifest" href="{{ 'manifest.json' | static_asset_url }}">

<meta name="vc-storefront-version" content="{{ version }}">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

{{ 'main.js' | asset_url | append_version | script_tag_module }}

{{ 'style.css' | asset_url | append_version | stylesheet_tag: 'all' }}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Roboto+Condensed:wght@700&display=swap">
