<ul class="pagination">
    {% if paginator.previous %}
        <li class="page-item"><a class="page-link" href="{{ paginator.previous.url }}" title="{{ paginator.previous.title }}">&laquo</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link">&laquo</span></li>
    {% endif %}

    {% for part in paginator.parts %}
        {% if part.is_link %}
            <li class="page-item">
                <a class="page-link" href="{{ part.url }}" title="">{{ part.title }}</a>
            </li>
        {% else %}
            {% if part.title == paginator.current_page %}
                <li class="page-item active"><span class="page-link">{{ part.title }}</span></li>
            {% else %}
                <li class="page-item"><span class="page-link">{{ part.title }}</span></li>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if paginator.next %}
        <li class="page-item"><a class="page-link" href="{{ paginator.next.url }}" title="{{ paginator.next.title }}">&raquo</a></li>
    {% else %}
        <li class="page-item disabled"><span class="page-link">&raquo</span></li>
    {% endif %}
</ul>
