{% unless current_collection %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% if product.compare_at_price.amount > product.price.actual_price.amount %}
  {% assign on_sale = true %}
{% endif %}

{% assign unavailable = false %}
{% assign sold_out = false %}

{% if product.buyable and product.in_stock != true %}
  {% assign sold_out = true %}
{% endif %}

{% if product.buyable != true  %}
  {% assign unavailable = true %}
{% endif %}

<div class="mb-4 {{ grid_item_width }}">
  <a href="{{ product.url | absolute_url }}" class="text-decoration-none card h-100">
    {% if product.featured_image %}
      <div class="card-img-top d-flex justify-content-center pt-1">
        <img class="mw-100" src="{{ product.featured_image | img_url: "168x168" }}" alt="{{ product.featured_image.alt | escape }}"/>
      </div>
    {% else %}
      <div class="card-img-top d-flex justify-content-center h6 pt-1">
        <i class="fas fa-camera fa-10x mw-100"></i>
      </div>
    {% endif %}
    <div class="card-body pb-1">
      <div class="form-row">
      {% if product.available %}
      <div class="col">
        <button class="app-add-item-to-cart btn btn-outline-primary col" title="{{ 'products.general.add_to_cart' | t }}" product-id="{{product.id}}"><i class="fas fa-shopping-cart"></i></button>
      </div>
      <div class="col">
          <button class="app-add-item-to-draft btn btn-outline-primary col" title="{{ 'products.general.add_to_cart' | t }}" product-id="{{product.id}}"><i class="fas fa-file-alt"></i></button>
      </div>
      {% endif %}
      {% if unavailable %}
            <button class="btn btn-outline-primary w-100" title="{{ 'products.general.add_to_cart' | t }}" disabled>
          <span class="font-weight-bold text-uppercase">{{ 'products.product.unavailable' | t }}</span>
        </button>
      {% endif %}
      {% if sold_out %}
            <button class="btn btn-outline-primary w-100" title="{{ 'products.general.add_to_cart' | t }}" disabled>
          <span class="font-weight-bold text-uppercase">{{ 'products.product.sold_out' | t }}</span>
        </button>
      {% endif %}
    </div>
      <p class="mt-1">{{ product.title }}</p>
    </div>
    <div class="card-footer bg-white border-0">
      {% include 'product-price' %}
    </div>
  </a>
</div>
