{% assign search = current_product_search_criteria %}
<form action="" autocomplete="off" method="get" class="input-group" role="search" name="formSearch">
    <input type="hidden" name="page" value="{{ search.page_number | escape }}" />
    <input type="hidden" name="page_size" value="{{ search.page_size | escape }}" />
    <input type="hidden" name="sort_by" value="{{ search.sort_by | escape }}" />
    <input type="hidden" name="terms" value="{{ search.terms | terms_to_string | escape }}" />
    <input class="form-control border-right-0 border rounded-left" name="keyword" value="{{ search.keyword | escape }}" placeholder="{{ 'search_bar.placeholder' | t }}" aria-label="{{ 'search_bar.placeholder' | t }}" />
    <span class="input-group-append">
      <button class="btn btn-outline-secondary border-left-0 border" type="submit">
          <i class="fa fa-search"></i>
      </button>
    </span>
</form>
