{% layout 'empty' %}

  <form class="d-flex flex-column align-items-center"
    accept-charset="UTF-8"
    class="mt-5"
    action="{{ '~/account/forgotpassword' | absolute_url }}"
    method="post"
    id="recover_customer_password"
    name="recover_customer_password"
  >
      <h3>{{ "common.recover_password.title" | t }}</h3>

      {% if (form.posted_successfully and form.errors.size == 0) %}
      <div class="alert alert-success">
        <p> {{ "common.recover_password.success" | t }} </p>
      </div>
      {% endif %}

      {% include 'form-errors-custom' %}

      <div class="form-group">
        <input type="email" id="recover-email" name="email" class="form-control" required placeholder={{ "common.recover_password.email" | t }} />
      </div>
      <button type="submit" class="btn btn-primary mt-3">{{ "common.recover_password.submit" | t }}</button>
    {{ antiforgery }}
  </form>
