{% layout 'login' %}

<div class="sf-modal__content" style="margin: auto;width: 300px;">
  <div class="modal-content">
    <form class="form"
      accept-charset="UTF-8"
      action="{{ requestUrl }}"
      method="post"
      id="customer_login"
      name="customer_login"
    >
      <h3>{{ "common.login.login_header" | t }}</h3>

      {% include 'form-errors-custom' %}

      <div class="sf-input form__element">
        <div class="sf-input__wrapper">
          <input id="username" name="customer[user_name]" type="text" style="outline: none;" required placeholder={{ "common.login.username" | t }} />
        </div>
      </div>

      <div class="sf-input form__element">
        <div class="sf-input__wrapper">
          <input id="password" name="customer[password]" type="password" style="outline: none;" class="sf-input--is-password" required placeholder={{ "common.login.password" | t }} />
        </div>
      </div>

      <div class="sf-form__element">
        <input id="RememberMe" class="sf-checkbox__input" type="checkbox" />
        <label for="RememberMe" class="sf-checkbox__label">{{ "common.login.remember_me" | t }}</label>
      </div>

      <button type="submit" class="sf-button sf-button--full-width form__submit">{{ "common.login.log_in" | t }}</button>

      <a class="sf-button sf-button--text action-button" href="{{ '/account/forgotpassword' | absolute_url }}">{{ "common.login.forgot_password" | t }}</a>

      {{ antiforgery }}
    </form>
  </div>
</div>
