<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <meta content="index, follow, noodp" name="robots"/>
    <meta content="index, follow" name="googlebot"/>
    <meta content="notranslate" name="google"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>{{ current_store.name }}</title>
    <base href="/">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{{'apple-touch-icon.png' | static_asset_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'favicon-32x32.png' | static_asset_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'favicon-16x16.png' | static_asset_url }}">
    <link rel="manifest" href="{{'site.webmanifest' | static_asset_url }}">
    <link rel="mask-icon" href="{{'safari-pinned-tab.svg' | static_asset_url }}" color="#5bbad5">
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">
    {{ 'bundle/default.css' | static_asset_url | append_version | stylesheet_tag }}
    {{ 'bundle/dist/css/chunk-vendors.css' | static_asset_url | append_version | stylesheet_tag }}
    <script src="{{ 'bundle/dist/js/chunk-vendors.js' | static_asset_url | append_version }}"></script>
    <script src="{{ 'bundle/dist/js/chunk-common.js' | static_asset_url | append_version }}"></script>
    <script>
      window.BASE_URL = `{{ "/" | full_url }}`;
      window.STORE_NAME = "{{ current_store.name }}";
      window.STORE_ID = "{{ current_store.id }}";
      window.CATALOG_ID = "{{ current_store.catalog }}";
      window.CURRENCY_CODE ="{{ current_currency.code }}";
      window.LOCALE = "{{ current_language.culture_name }}";
      window.USER_ID = "{{ current_user.id }}";
      window.THEME_SETTINGS = {{ settings | json }};
    </script>
  </head>
  <body>
    <div id="default">
      <!-- Header -->
      {{ content_for_header }}
      <!-- Content here -->
      {{ content_for_layout }}
      <!-- Footer -->
      {% include 'footer' %}
    </div>
   
  </body>
</html>
