<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="keywords"/>
    <meta content="index, follow, noodp" name="robots"/>
    <meta content="index, follow" name="googlebot"/>
    <meta content="notranslate" name="google"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>{{ current_store.name }}</title>
    <base href="{{ '/' | absolute_url }}" />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{{'apple-touch-icon.png' | static_asset_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'favicon-32x32.png' | static_asset_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'favicon-16x16.png' | static_asset_url }}">
    <link rel="manifest" href="{{'site.webmanifest' | static_asset_url }}">
    <link rel="mask-icon" href="{{'safari-pinned-tab.svg' | static_asset_url }}" color="#5bbad5">
    <meta content="#da532c" name="msapplication-TileColor">
    <meta content="#ffffff" name="theme-color">

    <script>
      window.BASE_URL = `{{ "/" | full_url }}`;
      window.STORE_NAME = "{{ current_store.name }}";
      window.STORE_ID = "{{ current_store.id }}";
      window.STORE_LANGUAGES = {{ current_store.languages  | map 'CultureName' | json }};
      window.CATALOG_ID = "{{ current_store.catalog }}";
      window.CURRENCY_CODE ="{{ current_currency.code }}";
      window.LOCALE = "{{ current_language.culture_name }}";
      window.USER_ID = "{{ current_user.id }}";
      window.THEME_SETTINGS = {{ settings | json }};
      //TODO: Repalce to SSR
      window.MAIN_MENU = {% if linklists['main-menu'].menu_links %}{{ linklists['main-menu'].menu_links | json }}{% else %}[]{% endif %};
      window.LOCALES = {{ current_store.languages | map 'TwoLetterLanguageName' |  json }};
    </script>
  </head>
  <body class="font-lato">
    <!-- Content here -->
    {{ content_for_layout }}
  </body>
</html>
