---
permalink: 'static-page'
---

{% product_search_result = 'home-page.graphql' | graphql_data_source %}
{{ paginator = product_search_result.products | paginate }}

<script src="{{ 'bundle/dist/js/home.js' | static_asset_url | append_version }}"></script>
{{ 'bundle/dist/css/home.css' | static_asset_url | append_version | stylesheet_tag }}

<div>
    <h3 style="color: var(--c-primary);">Hello world! (SSR) ENG</h3>
  <!-- Call to action End -->
    <!-- Products -->
    <div style="display: flex; flex-direction: row;">
        {% for product in product_search_result.products.items limit:5 %}
          <div class="sf-product-card">
            <div class="sf-product-card__image-wrapper">
              <a href="{{ product.slug }}" class="sf-link sf-product-card__link" style="outline: none;">
                <div class="sf-image sf-product-card__image has-size" style="--_image-width:216; --_image-height:326;" >
                  <img width="216" height="326" alt="{{ product.name }}" src="{{ product.img_src }}">
                </div>
              </a>
              <div
                class="app-add-item-to-cart"
                product-id="{{ product.id }}"
                buyable="{{ product.price.actual.amount > 0 }}"
                title="{{ product.name }}"
              ></div>
            </div>
            <a href class="sf-link sf-product-card__link" style="outline: none;">
              <h3 class="sf-product-card__title">{{ product.name }}</h3>
            </a>
            {% assign use_price_in_card = true %}
            {% include 'product-price' %}
          </div>
        {% endfor %}
      </div>
</div>