{% layout 'login' %}
<form class="d-flex flex-column align-items-center"
  accept-charset="UTF-8"
  action="{{ '~/account/resetpassword' | absolute_url }}"
  method="post"
  id="reset_customer_password"
  name="reset_customer_password"
>
  <h3>{{ "common.reset_password.title" | t }}</h3>

  <input type="hidden" value="{{ form.email }}" name="customer[email]" />
  <input type="hidden" value="{{ form.token }}" name="customer[token]" />

  {% include 'form-errors-custom' %}

  <div class="form-group">
    <input type="password" id="reset_password" name="customer[password]" class="form-control" required placeholder={{"common.reset_password.password" | t}}
    {% if form.errors contains "password" %} class="error" {% endif %}/>
  </div>

  <div class="form-group">
    <input type="password" id="password_confirmation" name="customer[password_confirmation]"
    class="form-control" required placeholder={{ "common.reset_password.confirm_password" | t }} />
  </div>

  <button type="submit" class="btn btn-primary mt-3">{{ "common.reset_password.submit" | t }}</button>
  {{ antiforgery }}
</form>
