{% assign titleStyle = block.titleAlignment | append ' ' |append block.titleStyle %}
{% assign classClause = '' %}
{% if titleStyle %}
  {% assign classClause = 'class="'|append titleStyle|append '"' %}
{% endif %}

{% if block.title != "" %}
  {% if block.headerType == 'h1' %}
    <h1 {{ classClause }}>{{ block.title }}</h1>
  {% elsif block.headerType == 'h2' %}
    <h2 {{ classClause }}">{{ block.title }}</h2>
  {% elsif block.headerType == 'h3' %}
    <h3 {{ classClause }}">{{ block.title }}</h3>
  {% elsif block.headerType == 'like-h1' %}
    <div class="h1 {{ titleStyle }}">{{ block.title }}</div>
  {% elsif block.headerType == 'like-h3' %}
    <div class="h3 {{ titleStyle }}">{{ block.title }}</div>
  {% else %}
    <div class="h2 {{ titleStyle }}">{{ block.title }}</div>
  {% endif %}
{% endif %}
