<div class="px-5">
    {% if block.note %}
        <div class="text-muted h4">{{ block.note }}</div>
    {% endif %}

    {% if block.title %}
        {% include 'blocks/helpers/block-title' %}
    {% endif %}

    {% if block.subtitle %}
        <div> {{ block.subtitle }} </div>
                        
    {% endif %}
                    
    {% if (block.firstButton and block.firstButton.urlText) or (block.secondButton and block.secondButton.urlText) %}
        <div class="block__actions">
            {% if block.firstButton and block.firstButton.urlText and block.firstButton.urlText != '' %}
                <a href="{{block.firstButton.url}}" class="btn {{ block.firstButton.style }}" {% if block.firstButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.firstButton.urlText}}</a>
            {% endif %}
            {% if block.secondButton and block.secondButton.urlText and block.secondButton.urlText != '' %}
                <a href="{{block.secondButton.url}}" class="btn {{block.secondButton.style}}" {% if block.secondButton.openInNewTab == 'True' %} target="_blank" {% endif %}>{{block.secondButton.urlText}}</a>
            {% endif %}
        </div>
    {% endif %}
</div>
