{% if item.fieldType == 'hidden' %}
    <input type="text" {% if item.fieldId != '' %} id="{{item.fieldId}}" {% endif %} name="{{item.fieldName}}" value="{{item.fieldValue}}" style="display:none" />
{% else %}
    <div class="form-group">
        {% assign showTitle = block.showFormLabels == 'True' and item.fieldType != 'checkbox' and item.fieldType != 'radio' and item.fieldType != 'button' %}
        {% if showTitle %}
            <label class="form-label" {% if item.fieldId != '' %} for="{{item.fieldId}}" {% endif %}>{{item.labelText}}</label>
        {% endif %}

        {% assign viewName = 'blocks/form/form-input-' | append item.fieldType %}
        {% if item.fieldType == 'text' or item.fieldType == 'phone' or item.fieldType == 'email' %}
            {% assign viewName = 'blocks/form/form-input-text' %}
        {% endif %}
        {% include viewName inputItem: item %}
        {% include 'blocks/form/form-validation-message' inputItem: item %}
    </div>

{% endif %}
