{% include 'breadcrumb' %}

<div id="app-cart-sidebar"></div>

{% assign on_sale = false %}
{% if product.compare_at_price.amount > product.price.actual_price.amount %}
    {% assign on_sale = true %}
{% endif %}

{% assign unavailable = false %}
{% assign sold_out = false %}

{% if product.buyable and product.in_stock != true %}
    {% assign sold_out = true %}
{% endif %}

{% if product.buyable != true  %}
    {% assign unavailable = true %}
{% endif %}

<div class="row mt-3" itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ product.url | absolute_url}}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url }}">

    <div class="col-lg-5 flex-column">
      <div class="mw-100 mb-5 d-flex justify-content-center">
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
        {% if featured_image %}
          <img id="productPrimaryImg" class="mw-100" src="{{ featured_image | img_url: "348x348" }}" alt="{{ featured_image.alt | escape }}">
        {% else %}
          <div class="d-flex justify-content-center h3">
            <i class="fas fa-camera fa-10x mw-100"></i>
          </div>
        {% endif %}
      </div>
      {% if product.images.size > 1 %}
        <div class="row justify-content-center">
          {% for image in product.images %}
            {% capture zoomedImgUrl %}{{ image.url | img_url: "348x348" }}{% endcapture %}
            {% capture zoomedImgAlt %}{{ image.alt | escape }}{% endcapture %}
            <figure class="col-4 col-md-3 d-flex justify-content-center btn">
              <img src="{{ image.url | img_url: "64x64" }}" onclick="showImage('{{ zoomedImgUrl }}','{{zoomedImgAlt}}')" alt="{{ image.alt | escape }}">
            </figure>
          {% endfor %}
        </div>
      {% endif %}
    </div>

    <div class="col-lg-7">
        <h3 itemprop="name">{{ product.title }}</h3>

        <div class="mt-4" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

            {% assign variant = product.selected_or_first_available_variant %}

            <meta itemprop="priceCurrency" content="{{ shop.currency }}">
            <meta itemprop="price" content="{{ variant.price | money }}">

            {% include 'product-price' %}

            <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

              <div class="mt-4">

              {% if product.available %}
                <div class="btn-group">
                  <!-- <button class="btn btn-outline-primary mb-1" id="addToCart" type="button">
                    <span class="fas fa-shopping-cart"></span>
                    <span id="addToCartText">{{ 'products.general.add_to_cart' | t }}</span>
                  </button> -->
                  <button class="app-add-item-to-cart btn btn-outline-primary" title="{{ 'products.general.add_to_cart' | t }}" product-id="{{product.id}}" text-visible><i class="fas fa-shopping-cart"></i>
                    <span>{{ 'products.general.add_to_cart' | t }}</span></button>
                </div>
              {% endif %}

              {% if unavailable %}
                <div class="btn-group">
                  <button class="btn btn-outline-primary" id="addToCart" type="button" disabled>
                    <span class="fas fa-shopping-cart"></span>
                    <span id="addToCartText">{{ 'products.product.unavailable' | t }}</span>
                  </button>
                </div>
              {% endif %}

              {% if sold_out %}
                <div class="btn-group">
                  <button class="btn btn-outline-primary" id="addToCart" type="button" disabled>
                    <span class="fas fa-shopping-cart"></span>
                    <span id="addToCartText">{{ 'products.product.sold_out' | t }}</span>
                  </button>
                </div>
              {% endif %}


                <div class="btn-group">
                  <button class="app-add-item-to-draft btn btn-outline-primary" title="{{ 'products.general.add_to_order_draft' | t }}" product-id="{{product.id}}" text-visible><i class="fas fa-file-alt"></i>
                    <span>{{ 'products.general.add_to_order_draft' | t }}</span></button>
                </div>

              </div>

        </div>

        <hr>

      {% unless product.description == nil and product.properties.size < 1 %}
        <ul class="nav nav-tabs mb-3 border-primary" id="pills-tab" role="tablist">
          {% if product.description == nil %}
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" role="tab" id="details-tab" href="#details" aria-controls="details" aria-selected="false">{{ 'products.product.details_tab' | t }}</a>
            </li>
          {% else %}
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab" id="description-tab" href="#description" aria-controls="description" aria-selected="true">{{ 'products.product.description_tab' | t }}</a>
            </li>
            {% if product.properties.size > 1 %}
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" role="tab" id="details-tab" href="#details" aria-controls="details" aria-selected="false">{{ 'products.product.details_tab' | t }}</a>
              </li>
            {% endif %}
          {% endif %}
        </ul>

        <div class="tab-content" id="pills-tabContent">
          {% if product.description == nil %}
            <div class="mb-3 bg-light row justify-content-around tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
              {% include 'product-properties' %}
            </div>
          {% else %}
            <div class="tab-pane fade show active" itemprop="description" id="description" role="tabpanel" aria-labelledby="description-tab">
              {{ product.description }}
            </div>
            {% if product.properties.size > 1 %}
            <div class="mb-3 bg-light row justify-content-around tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
              {% include 'product-properties' %}
            </div>
            {% endif %}
          {% endif %}
        </div>
      {% endunless %}

    </div>
</div>
<script>
  function showImage(url,alt) {
    var primaryImg = document.getElementById('productPrimaryImg');
    primaryImg.src = url;
    primaryImg.alt = alt;
  }
</script>

<script src="{{ 'bundle/dist/js/catalog.js' | static_asset_url | append_version }}"></script>
